<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="db_qltv" connectionString="Data Source=.\sqlexpress;Initial Catalog=QLTV_test;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="BTL_Nhom14.Properties.Settings.QLTVConnectionString"
   connectionString="Data Source=.\sqlexpress;Initial Catalog=QLTV;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>